<% content_for :title, "ACCUEIL" %>
<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8"/>
		<title>LE BÉNÉFIQUE</title>
	   <%= javascript_include_tag "jquery.vide.js" %>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script> $(document).ready(function () { $('body').hide().fadeIn(1500).delay(6000)});</script>
	</head>

	<header>

	</header>
	<body data-vide-bg="/elem/le_benefique_movie.mp4">
		<div class="container">
			<div class="row">
				<section class = "home-links col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
			<!--<h1><img src="Logo.png"></h1>-->
				<div><img class="img-responsive img-home" src="/elem/logo2.png" alt="logo Le Bénéfique"/></div>
					<div class=" btn-div">
						<%= link_to store_path do
							image_tag("/elem/decouvrir.png", onmouseover: "this.src='#{asset_path('/elem/decouvrir-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/decouvrir.png')}'", width: '132')
					end %>
						<%= link_to video_path do
    					image_tag("/elem/le-film.png", onmouseover: "this.src='#{asset_path('/elem/le-film.png')}'", onmouseout: "this.src='#{asset_path('/elem/le-film.png')}'", width: '132')
					end %>
				</div>
			</section>
		</div>
	</div>
		<!--<script type="text/javascript" src="js/jquery.js"></script><script type="text/javascript" src="bootstrap/js/mesfonctions.js"></script>-->
		<script>window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')</script>
		<script src="bootstrap/js/jquery.vide.js"></script>
		<script>
		 // $(document).ready(function () {
		 //   $(document.body).vide('video/ocean'); // Non declarative initialization
		 //
		 //   var instance = $(document.body).data('vide'); // Get the instance
		 //   var video = instance.getVideoObject(); // Get the video object
		 //   instance.destroy(); // Destroy instance
		 // });
	 </script>
	</body>
</html>
