<% content_for :title, "ACCUEIL" %>
<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8"/>
		<title>LE BÉNÉFIQUE</title>
	   <%= javascript_include_tag "jquery.vide.js" %>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script> $(document).ready(function () { $('body').hide().fadeIn(1500).delay(6000)});</script>
	</head>
	<body data-vide-bg="/elem/le_benefique_movie.mp4">
		<div class="container">
			<div class="row">
				<section class = "home-links col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
				<div><img class="img-responsive img-home" src="/elem/logo2.png" alt="logo Le Bénéfique"/></div>
					<div class=" btn-div">
						<%= link_to store_path do
							image_tag("/elem/decouvrir.png", onmouseover: "this.src='#{asset_path('/elem/decouvrir-hover.png')}'", onmouseout: "this.src='#{asset_path('/elem/decouvrir.png')}'", width: '132')
					end %>
					<button type="button" data-toggle="modal" data-target="#myModal">
            <%= image_tag("/elem/le-film.png", onmouseover: "this.src='#{asset_path('/elem/le-film.png')}'", onmouseout: "this.src='#{asset_path('/elem/le-film.png')}'", width: '132') %>
          </button>
				 		<%#= link_to video_path do
     					image_tag("/elem/le-film.png", onmouseover: "this.src='#{asset_path('/elem/le-film.png')}'", onmouseout: "this.src='#{asset_path('/elem/le-film.png')}'", width: '132')
				 	end %>
				</div>
			</section>
		</div>
	</div>
		<script>window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')</script>
<!--		<script src="bootstrap/js/jquery.vide.js"></script>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">LE FILM</h4>
      </div>
      <div class="modal-body">
        <video loop controls="controls" style="width: 100%; height: 100%">
	        <source src="/elem/Le_Benefique_2560p_1.mp4" type="video/mp4">
	        <source src="video/big_buck_bunny.ogv" type="video/ogg">
		    </video>
      </div>
    </div>
  </div>
</div>
	</body>
</html>
