<% content_for :title, "IDEE" %>
<!DOCTYPE html>
<html>
  <head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IDEA</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="top" class="header-top head-idea paraxify">
      <div class="container header-content">
        <div class="row">
          <div class ="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-6 text-vertical-center ">
            <p>La recherche<br/>
              &emsp;&emsp;&emsp; de l'exception.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-5 col-sm-2 mouse-scroll">
            <span class="mouse">
              <span class="mouse-movement">
              </span>
            </span>
            <span class="col-sm-offset-5 col-sm-2 mouse-message fadeIn">scroll</span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="section-all data-smooth-scroll">
    <img class="img-fluid"src="/elem/fluide1.png"></img>
  <div class="container scrollme">
    <div class="row offset-sect-2 bloc-center animateme" data-when="enter" data-from = "0.9" data-to = "0.1" data-easing="easeinout" data-translatey="150" data-opacity="0">
      <div class="animateme" data-when="enter" data-from = "0.7" data-to = "1" data-easing="easeinout" data-translatey="-150" data-opacity="0">
      <h1 class="col-md-offset-5 col-md-2"> l'idée</h1>
      <p class="col-md-offset-2 col-md-8 offset-lin-16 txt-center">Le Benefique est ne de notre volonte de faire connaitre des infusions<br/>
         naturelles aux multiples vertues et de promouvoir un mode de cueillette traditionnel <br/>
         respectueux des hommes et de l'environnemet.<br/>
         Ainsi, Le Benefique allie un demarche eco-responsable et la recherche de saveurs inedites..</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5 offset-lin-14"> <img src="/elem/illu-tasse.png"/></div>
    </div>
  </div>
  <div class="container offset-sect-3 scrollme">
    <div class="row sect-overlap">
      <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-3 wow slideInUp hidden-xs" data-wow-offset="350"> <img src="/elem/photo-1-idea.jpg"/></div>
      <div class="col-xs-12 col-xs-offset-0 visible-xs"> <img src="/elem/photo-1-idea.jpg"/></div>
      <div class="offset-lin-10">
        <div class="col-xs-offset-1 col-xs-6 col-sm-6 col-sm-offset-0 offset-lin-13 bloctext wow slideInDown" data-wow-offset="300">
          <svg id="Calque_1" style="min-width: 460px;" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 152"><defs><style>
                .cls-1{fill:#fff;}.cls-2{fill:#b6a083;} .cls-3{font-size:13.66px;font-family: 'DidotLTStd-BoldItalic';letter-spacing:0.04em;} .cls-4{font-size:9.54px;font-family:'Roboto'; font-weight:300;}.cls-5{letter-spacing:-0.01em;}.cls-6{letter-spacing:-0.01em;}.cls-7{letter-spacing:-0.01em;}.cls-8{letter-spacing:-0.01em;}.cls-9{letter-spacing:-0.01em;}.cls-10{fill:none;stroke:#b6a083;stroke-miterlimit:10;}
              </style></defs><title>Plan de travail 40</title><polygon class="cls-1" points="187 43 187 1 23 1 23 48 61 48 61 152 244 152 244 43 187 43"/><path class="cls-2" d="M245,152H61V48H23V0H188V42h57ZM62,151H244V43H187V1H24V47H62Z"/><text class="cls-3" transform="translate(29.91 32.22)">La cueillette</text><text class="cls-4" transform="translate(80.35 70.78)">La cueillette sau<tspan class="cls-5" x="67.42" y="0">v</tspan><tspan x="71.94" y="0">age est ef</tspan><tspan class="cls-6" x="112.81" y="0">f</tspan><tspan x="115.85" y="0">ectuée</tspan><tspan x="0" y="14.93">dans des espaces où la </tspan><tspan class="cls-7" x="99.77" y="14.93">v</tspan><tspan x="104.3" y="14.93">égétation</tspan><tspan x="0" y="29.85">p</tspan><tspan class="cls-8" x="5.29" y="29.85">r</tspan><tspan x="8.4" y="29.85">ofite d’un climat e</tspan><tspan class="cls-9" x="82.2" y="29.85">x</tspan><tspan x="86.74" y="29.85">ceptionnel.</tspan><tspan x="0" y="44.78">La qualité des plantes qui y</tspan><tspan x="0" y="59.71">poussent est uniique.</tspan></text><line class="cls-10" x1="23" y1="25.57" y2="25.57"/></svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container offset-lin-13">
    <div class="row sect-overlap scrollme">
      <div class="col-sm-7 col-sm-offset-1 col-md-5 col-md-offset-1"><div class="slide-img-div wow unfoldInRight"></div></div>
      <p class="col-sm-4 col-sm-offset-8 offset-sect-1 p-overlap text-center-align"> Chaque plante est sélectionnée à la main, de manière traditionnelle depuis des millénaires.</p>
      </div>
    </div>
    <div class="container offset-lin-14 scrollme">
      <div class="row sect-overlap">
        <div class="col-sm-8 col-sm-offset-1"><img src="/elem/photo-3-idea.jpg"/></div>
        <div class="offset-lin-1">
          <div class="col-sm-offset-6 col-sm-5 offset-sect-1 bloctext wow slideInUp" data-wow-offset="250">
            <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239 154"><defs><style>
                  .cls-1{fill:#fff;}.cls-2{fill:#b6a083;}.cls-3{font-size:26.66px;font-family: 'DidotLTStd-BoldItalic';letter-spacing:0.04em;}.cls-4{font-size:9.54px;font-family:'Roboto'; font-weight:300;}.cls-5{letter-spacing:-0.01em;}.cls-6{letter-spacing:-0.01em;}.cls-7{letter-spacing:-0.02em;}.cls-8{letter-spacing:0.01em;}.cls-9{letter-spacing:-0.01em;}.cls-10{letter-spacing:-0.01em;}.cls-11{fill:none;stroke:#b6a083;stroke-miterlimit:10;}
                </style></defs><title>Plan de travail 41</title><polygon class="cls-1" points="155 40 155 1 0 1 0 48 36 48 36 154 238 154 238 40 155 40"/><path class="cls-2" d="M239,154H36V48H0V0H156V39h83ZM37,153H238V40H155V1H1V47H37Z"/><text class="cls-3" transform="translate(16.88 33.08)">Les tiges</text><text class="cls-4" transform="translate(57.52 71.78)">P<tspan class="cls-5" x="5.87" y="0">r</tspan><tspan x="8.99" y="0">ésentées de maniè</tspan><tspan class="cls-6" x="87.39" y="0">r</tspan><tspan x="90.51" y="0">e originale</tspan><tspan x="0" y="14.93">sous forme de tige, les plantes ne</tspan><tspan x="0" y="29.85">subissent aucune t</tspan><tspan class="cls-7" x="78.74" y="29.85">r</tspan><tspan x="81.77" y="29.85">ansformation</tspan><tspan x="0" y="44.78" xml:space="preserve">en dehors de leur séchage afin  de</tspan><tspan x="0" y="59.71">p</tspan><tspan class="cls-5" x="5.29" y="59.71">r</tspan><tspan x="8.4" y="59.71">ése</tspan><tspan class="cls-8" x="23.09" y="59.71">r</tspan><tspan class="cls-9" x="26.38" y="59.71">v</tspan><tspan x="30.91" y="59.71">er </tspan><tspan class="cls-10" x="41.36" y="59.71">t</tspan><tspan x="44.33" y="59.71">ous leurs bienfaits. </tspan></text><line class="cls-11" x1="179" y1="20.5" x2="156" y2="20.5"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-5 offset-lin-14"> <img src="/elem/illu-tasse.png"/></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 195 70"><defs><style>
                .cls-50{fill:#b6a083;}
              </style></defs><title>Plan de travail 30</title><path d="M26,54.76H20.32s0-.21.07-.21h1.55c.07,0,.12,0,.12-.05l3.7-11.71s0-.07-.09-.07H24.13s0-.21.07-.21h5.2a4.53,4.53,0,0,1,4.49,4.72C33.89,51.18,29.69,54.76,26,54.76Zm3.32-12h-1a.12.12,0,0,0-.12.07L24.49,54.5s0,.05.09.05H26a4.09,4.09,0,0,0,3.77-2A22,22,0,0,0,32,45C32,43.68,31.36,42.72,29.32,42.72Z"/><path d="M38.63,51H38a9.41,9.41,0,0,0-.45,2.35c0,.83.24,1.37,1.09,1.37a3.26,3.26,0,0,0,2.68-1.37l.14.14a3.43,3.43,0,0,1-2.8,1.43A2.69,2.69,0,0,1,36,52a4.78,4.78,0,0,1,4.39-4.79c1.45,0,2.18.78,2.18,1.54C42.55,50.15,40.83,51,38.63,51Zm1.69-3.52c-1.28,0-1.73,1.47-2.25,3.32h.38c2.14,0,2.57-1.26,2.57-2.4C41,47.71,40.79,47.47,40.33,47.47ZM39.27,46c-.05,0,0-.21,0-.21,3.07-.62,3.58-3.35,4.56-3.35a.62.62,0,0,1,.66.66C44.51,43.86,42.78,45.34,39.27,46Z"/><path d="M50.34,49.9a.75.75,0,0,1-.79-.78c0-.6.29-.66.29-1.09s-.31-.57-.83-.57a1.63,1.63,0,0,0-1.49,1,17.65,17.65,0,0,0-1.3,4.91c0,.85.26,1.33,1.09,1.33a3.43,3.43,0,0,0,2.83-1.61l.19.1a3.78,3.78,0,0,1-3,1.71A2.71,2.71,0,0,1,44.64,52c0-2.47,2-4.77,4.34-4.77A2.23,2.23,0,0,1,51.24,49,.83.83,0,0,1,50.34,49.9Z"/><path d="M56,54.91A2.71,2.71,0,0,1,53.28,52a4.79,4.79,0,0,1,4.41-4.77,2.71,2.71,0,0,1,2.69,2.92A4.77,4.77,0,0,1,56,54.91Zm1.71-7.45a1.73,1.73,0,0,0-1.59,1.07,19.22,19.22,0,0,0-1.24,4.8c0,.83.22,1.37,1.07,1.37a1.77,1.77,0,0,0,1.61-1.07,18.69,18.69,0,0,0,1.24-4.8C58.79,48,58.55,47.47,57.7,47.47Z"/><path d="M69.27,53.81c-.1.33,0,.54.36.54.54,0,1-.33,1.54-1.28l.21.09A2.91,2.91,0,0,1,69,54.91c-1,0-1.74-.83-1.07-2.71-1.07,1.92-2.28,2.71-3.26,2.71a1.42,1.42,0,0,1-1.45-1.59c0-1.61,1.61-4,1.61-5,0-.38-.12-.52-.4-.52s-.76.35-1.12,1.12l-.21-.09a2.38,2.38,0,0,1,2-1.55,1.18,1.18,0,0,1,1.3,1.28c0,1.4-1.49,3.25-1.49,4.8a.67.67,0,0,0,.69.73c.74,0,1.4-.64,2.56-2.63l1.24-4,1.87-.09Z"/><path d="M76.28,54.91c-1.43,0-2-.83-2-2.14s1.09-2.94,1.09-4.51c0-.36-.09-.48-.45-.48s-.78.4-1.12,1.12l-.19-.09a2.36,2.36,0,0,1,2.06-1.57c.9,0,1.33.52,1.33,1.43,0,1.64-1.16,3.44-1.16,4.63,0,.9.28,1.17.9,1.17,1.28,0,3.06-1.64,3.06-3.71,0-1.28-.29-1.54-.29-2.45,0-.57.29-1.07.79-1.07.73,0,1,.62,1,1.31C81.28,51.7,78.18,54.91,76.28,54.91Z"/><path d="M89.67,49.9c-.55,0-.88-.33-.88-.71s.22-.45.22-.73-.1-.47-.47-.47-1,.71-2.09,3l-1.17,3.73H83.45l2-6.17c.16-.48,0-.81-.36-.81s-.76.33-1.12,1.12l-.19-.09a2.39,2.39,0,0,1,2.06-1.57c1,0,1.62.81,1,2.61.85-1.83,1.59-2.61,2.42-2.61a1.35,1.35,0,0,1,1.38,1.42C90.62,49.28,90.2,49.9,89.67,49.9Z"/><path d="M94,54.91a1.33,1.33,0,0,1-1.49-1.33c0-1.47,1.69-3.8,1.69-5.25,0-.43-.12-.55-.43-.55s-.79.38-1.14,1.12l-.21-.09a2.42,2.42,0,0,1,2.12-1.57,1.22,1.22,0,0,1,1.33,1.3c0,1.73-1.73,4-1.73,5.15,0,.4.16.66.52.66.54,0,1-.33,1.57-1.28l.19.09A3,3,0,0,1,94,54.91ZM95.87,45a1,1,0,1,1,0-2,1,1,0,0,1,0,2Z"/><path d="M104.71,49.9c-.55,0-.88-.33-.88-.71s.22-.45.22-.73-.1-.47-.47-.47-1,.71-2.09,3l-1.17,3.73H98.49l2-6.17c.16-.48,0-.81-.36-.81s-.76.33-1.12,1.12l-.19-.09a2.39,2.39,0,0,1,2.06-1.57c1,0,1.62.81,1,2.61.85-1.83,1.59-2.61,2.42-2.61a1.35,1.35,0,0,1,1.38,1.42C105.66,49.28,105.25,49.9,104.71,49.9Z"/><path d="M113.92,53.74c-.12.4,0,.6.33.6.55,0,1.09-.41,1.55-1.28l.22.09a3,3,0,0,1-2.47,1.76c-1.09,0-1.59-.76-1.12-2.19l3.25-10.38c0-.05,0-.07-.07-.07l-1,0s0-.21.05-.21l2.85-.05s.07,0,0,0Z"/><path d="M121,51h-.6a9.41,9.41,0,0,0-.45,2.35c0,.83.24,1.37,1.09,1.37a3.26,3.26,0,0,0,2.68-1.37l.14.14a3.43,3.43,0,0,1-2.8,1.43A2.69,2.69,0,0,1,118.41,52a4.78,4.78,0,0,1,4.39-4.79c1.45,0,2.18.78,2.18,1.54C125,50.15,123.24,51,121,51Zm1.69-3.52c-1.28,0-1.73,1.47-2.25,3.32h.38c2.14,0,2.57-1.26,2.57-2.4C123.45,47.71,123.21,47.47,122.74,47.47Z"/><path d="M132,49.56a.68.68,0,0,1-.76-.71c0-.4.31-.5.31-.83s-.24-.57-.74-.57a1.14,1.14,0,0,0-1.26,1.24c0,1.47,2.35,1.92,2.35,3.94,0,1.12-1,2.28-2.9,2.28-1.45,0-2.37-.92-2.37-1.74a1,1,0,0,1,.9-1.07.77.77,0,0,1,.79.76c0,.79-.59.6-.59,1.09s.33.76,1.24.76a1.25,1.25,0,0,0,1.42-1.38c0-1.69-2.18-1.87-2.18-3.7a2.66,2.66,0,0,1,2.64-2.38c1.05,0,2,.59,2,1.45A.79.79,0,0,1,132,49.56Z"/><path d="M144.71,47.55h-1.3l-2,6.25c-.1.31,0,.54.33.54.54,0,1-.33,1.59-1.28l.19.09a2.9,2.9,0,0,1-2.42,1.76c-1.07,0-1.59-.83-1.16-2.23l1.61-5.13h-1.24s0-.22.07-.22h1.24l.79-2.52,1.85-.09-.81,2.61h1.28S144.76,47.55,144.71,47.55Z"/><path d="M147.82,54.91a1.33,1.33,0,0,1-1.49-1.33c0-1.47,1.69-3.8,1.69-5.25,0-.43-.12-.55-.43-.55s-.79.38-1.14,1.12l-.21-.09a2.42,2.42,0,0,1,2.12-1.57,1.22,1.22,0,0,1,1.33,1.3c0,1.73-1.73,4-1.73,5.15,0,.4.16.66.52.66.54,0,1-.33,1.57-1.28l.19.09A3,3,0,0,1,147.82,54.91ZM149.69,45a1,1,0,1,1,0-2,1,1,0,0,1,0,2Z"/><path d="M158.18,54.76c-1.09,3.44-2.94,5.46-5.29,5.46A2.38,2.38,0,0,1,150.44,58a1.23,1.23,0,0,1,1.19-1.28,1,1,0,0,1,1,.92.94.94,0,0,1-.64.93.5.5,0,0,0-.41.54c0,.45.35.88,1.4.88,1.33,0,2-.6,3.65-5.89l.36-1.21c-.57,1.31-1.45,2-2.3,2-1.71,0-2.28-1.33-2.28-2.69a5.19,5.19,0,0,1,4.8-4.94,1.22,1.22,0,0,1,1.28.85l.26-.64,1.83-.21Zm-1-7.29a1.49,1.49,0,0,0-1,.38c-1.23.9-2.19,3.83-2.19,5.56,0,.9.24,1.24.78,1.24,1,0,1.8-1.11,2.49-2.87l1-3.18A1,1,0,0,0,157.22,47.47Z"/><path d="M165,51h-.6a9.41,9.41,0,0,0-.45,2.35c0,.83.24,1.37,1.09,1.37a3.26,3.26,0,0,0,2.68-1.37l.14.14a3.43,3.43,0,0,1-2.8,1.43A2.69,2.69,0,0,1,162.31,52a4.78,4.78,0,0,1,4.39-4.79c1.45,0,2.18.78,2.18,1.54C168.87,50.15,167.15,51,165,51Zm1.69-3.52c-1.28,0-1.73,1.47-2.25,3.32h.38c2.14,0,2.57-1.26,2.57-2.4C167.35,47.71,167.11,47.47,166.65,47.47Z"/><path d="M175.87,49.56a.68.68,0,0,1-.76-.71c0-.4.31-.5.31-.83s-.24-.57-.74-.57a1.14,1.14,0,0,0-1.26,1.24c0,1.47,2.35,1.92,2.35,3.94,0,1.12-1,2.28-2.9,2.28-1.45,0-2.37-.92-2.37-1.74a1,1,0,0,1,.9-1.07.77.77,0,0,1,.79.76c0,.79-.59.6-.59,1.09s.33.76,1.24.76a1.25,1.25,0,0,0,1.42-1.38c0-1.69-2.18-1.87-2.18-3.7a2.66,2.66,0,0,1,2.64-2.38c1.05,0,2,.59,2,1.45A.79.79,0,0,1,175.87,49.56Z"/><path class="cls-50" d="M98,27V0H97V27H0V70H195V27Zm96,42H1V28H194Z"/></svg>
        </div>
      </div>
    </div>
  </div>
  <script media="(min-width: 769px)">
    myParaxify = paraxify('.paraxify');
  </script>
</body>
</html>
