<% content_for :title, "IDEE" %>
<!DOCTYPE html>
<html>
  <head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IDEA</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="element" id="element1">
    <header id="top" class="header-top head-idea paraxify">
      <div class="container header-content">
        <div class="row">
          <div class ="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-6 text-vertical-center">
            <p>La promesse<br/>
              &emsp;&emsp; d'un voyage.
            <br/> des sens</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-5 col-sm-2 mouse-scroll">
            <span class="mouse">
              <span class="mouse-movement">
              </span>
            </span>
            <span class="col-sm-offset-5 col-sm-2 mouse-message fadeIn">scroll</span>
          </a>
        </div>
      </div>
    </div>
  </header>
  </div>
  <div class="section-all data-smooth-scroll">
    <img class="img-fluid"src="/elem/fluide1.png"></img>
    <div class="element" id="element2">
  <div class="container scrollme">
    <div class="row offset-sect-2 bloc-center animateme" data-when="enter" data-from = "0.9" data-to = "0.1" data-easing="easeinout" data-translatey="200" data-opacity="0">
      <div class="animateme" data-when="exit" data-from = "0.7" data-to = "0.8" data-easing="easeinout" data-translatey="-200" data-opacity="0">
      <h1 class="col-md-offset-5 col-md-2"> l'idée</h1>
      <p class="col-md-offset-2 col-md-8 offset-lin-16 txt-center">Le Bénéfique est avant tout l'expérience d'une infusion aux saveurs inégalables issues d'une production 100% artisanale. Nous collectons des plantes rares, parfois même endémiques, dont la quintessence restera préservée jusqu’à ce qu’elle soit libérée dans l’eau chaude de votre tasse. S’occuper de soi passe par de toutes petites choses, parfois les plus anodines.
Oubliez le temps ou la distance qui vous sépare du reste du monde. En une simple gorgée et grâce à la pureté de la tisane que vous buvez, vous vous connectez à la nature et vous évadez là où vous n’auriez jamais imaginé poser les pieds.</p>
    </div>
  </div>
</div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5 offset-sect-3"> <img src="/elem/illu-tasse.png"/></div>
    </div>
  </div>
  <div class="container offset-sect-3 scrollme ">
    <div class="row sect-overlap">
      <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-3 wow slideInUp hidden-xs" data-wow-offset="350"> <img src="/elem/photo-1-idea.jpg"/></div>
      <div class="col-xs-12 col-xs-offset-0 visible-xs"> <img src="/elem/photo-1-idea.jpg"/></div>
      <div class="offset-lin-10">
        <div class="col-xs-offset-1 col-xs-6 col-sm-6 col-sm-offset-0 offset-lin-18 bloctext wow slideInDown" data-wow-offset="300">
          <%= svg 'la_cueillette' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container offset-lin-13">
    <div class="row sect-overlap scrollme">
      <div class="col-sm-7 col-sm-offset-0 col-md-5 col-md-offset-0"><div class="slide-img-div-idea wow unfoldInRight " data-wow-offset="350"></div></div>
      <p class="col-sm-4 col-sm-offset-7 offset-sect-1 p-overlap text-center-align"> Les populations locales ont un profond respect de leur environnement et une volonté d’écouter et de sentir l’essence de chacune des tiges qu’ils prélèvent. Les étapes de collecte de celles-ci préservent la plante pour vous procurer l’expérience de goût la plus véritable.</p>
      </div>
    </div>
    <div class="container offset-lin-14 scrollme">
      <div class="row sect-overlap">
        <div class="col-sm-8 col-sm-offset-1"><img src="/elem/photo-3-idea.jpg"/></div>
        <div class="offset-lin-1">
          <div class="col-sm-offset-6 col-sm-5 offset-lin-14 bloctext wow slideInUp" data-wow-offset="250">
              <%= svg 'les_tiges' %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-5 offset-lin-14"> <img src="/elem/illu-tasse.png"/></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <%= svg 'decouvrir_tiges' %>
      </div>
    </div>
  </div>
  <script media="(min-width: 769px)">
    myParaxify = paraxify('.paraxify');
  </script>
</body>
</html>
