<body>
  <div class="container-fluid section-all">
    <div class="row">
      <div class="mentions-txt col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 offset-sect-1">
        <h1 class"col-md-8 col-md-offset-2 offset-lin-10">Conditions générales de vente</h1>
        <div class="offset-sect-1 col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
<p>Les présentes conditions générales de vente régissent l’ensemble des relations entre la société Idylle dont le siège social est situé 37 rue des Petites Ecuries 75010 Paris, immatriculée au RCS de Paris sous le numéro 502863467, ci-après désignée Le bénéfique, et ses clients, ci-après désigné le client, pour les ventes de produits proposées sur le site internet www.lebenefique.com</p>
<p>Le bénéfique rappelle que ses ventes sont exclusivement réservées à des personnes physiques ou morales majeures commerçantes (ou non commerçantes) acceptant de remplir les champs obligatoires présentés au moment de l’enregistrement.
Les ventes sont réservées aux personnes disposant d’une boite à lettre électronique régulièrement consultée et d’une adresse de livraison située en France métropolitaine. Les produits sont strictement reservés à un usage personnel et ne peuvent être revendus.
Préalablement à toute transaction, le client reconnaît avoir pris connaissance des conditions générales de vente et déclare expressément accepter les présentes conditions générales dès lors qu’il valide la case « J’accepte les cgv». Le bénéfique invite donc le client à lire attentivement les clauses ci-après.</p>
<h2 class="mentions-h2"> 1. Acceptation des conditions particulières </h2>
<p>Le client reconnaît avoir pris connaissance, lors de la passation de commande, des conditions particulières de vente énoncées sur écran (dénomination, prix, poids, quantité, particularités éventuelles) et déclare expressément les accepter sans réserve. La passation de la commande et sa confirmation par le client, matérialisent son acceptation pleine et entière des conditions particulières seules applicables à la commande. Le client dispose, avant cette confirmation, d’un mécanisme lui permettant de corriger ou de modifier ses choix.</p> 
<h2 class="mentions-h2"> 2. Produits </h2>
<p>Les photographies illustrant les produits ne sont qu’indicatives quant à la présentation générale du produit.
Chaque article proposé à la vente fait l’objet d’une présentation sommaire. Les textes ne peuvent en aucun cas entraîner la responsabilité de Le Bénéfique. Les produits mis en vente étant des produits alimentaires et dans la mesure où toutes les informations sur les caractéristiques essentielles du produit sont accessibles par le client sur l’emballage, tout problème ou dommage consécutif à la consommation du produit (ex. troubles allergènes ou autres) relève de la seule et unique responsabilité du client et/ou consommateur.</p>
<h2 class="mentions-h2"> 3. Identifiant et mot de passe </h2>
<p>Lors de la première commande, un identifiant et un mot de passe sont attribués. Un contrôle d’unicité est alors effectué par le système. L’identifiant et le mot de passe valent preuve de l’identité du client et l’engagent sur toute la commande passée par leur intermédiaire. Ils ont valeur de signature électronique au sens de la loi du 13 mars 2000. Le client est responsable entier et exclusif de son identifiant et de son mot de passe, et supportera les conséquences de toutes utilisations par des tiers qui en auraient connaissance. En cas d’oubli du mot de passe ou de soupçons par le client d’une utilisation frauduleuse de ses identifiant et mot de passe, il dispose sur le site d’une fonction lui permettant de retrouver son identifiant et d’obtenir un nouveau mot de passe.
Le bénéfique respecte la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, notamment sur la collecte de données personnelles, tel que stipulé à l’article 11 des présentes conditions générales de ventes.</p>
<h2 class="mentions-h2"> 4. Formation de la commande</h2>
<h3 class="mentions-h3"> 4.1 Enregistrement</h3>
<p>Une commande passée sur le site Le Bénéfique est limitée par la quantité maximale de 72 boites (7kg).
Toute saisie de commande après la sélection des produits fait l’objet d’un récapitulatif en reprenant tous les éléments (articles, délais et lieu livraison, montants HT et TTC, moyen de paiement) que le client confirme en cochant la case « j’accepte les cgv» et en cliquant sur le bouton « confirmation ». Par cette manoeuvre, la commande est alors automatiquement envoyée, enregistrée et elle devient dès ce moment ferme et définitive sous la réserve ci-dessous, le client est alors lié irrévocablement pour les informations données dans la commande. Le client ne peut pas remettre en cause son acceptation sauf dans le cadre des dispositions prévues à l’article 6.
Les informations énoncées par le client, lors de la prise de la commande, engagent celui-ci. En cas d’erreur de sa part dans le libellé de ses coordonnées ou du lieu de livraison, entraînant la perte des produits, le client reste responsable du paiement des dits produits perdus.
Toute nouvelle commande ne pourra intervenir qu’après le paiement régulier par le client des sommes dues au titre de commandes précédentes.
Toute commande payée par carte bancaire ou virement n’est considérée, comme effective que lorsque les centres de paiement concernés ont donné leur accord et ont crédité le compte de Le Bénéfique du montant total de la commande.
En cas de refus desdits centres, la commande est automatiquement annulée.</p>
<h3 class="mentions-h3"> 4.2 Confirmation</h3>
<p>Le Bénéfique s’engage à confirmer la commande au client par courrier électronique en récapitulant les articles commandés.
Le Bénéfique se réserve la possibilité de ne pas confirmer la commande en cas de motif légitime, tant par exemple à une difficulté d’approvisionnement, un problème de compréhension de la commande, un problème prévisible concernant la livraison ou l’anormalité de la commande (existence d’un litige avec le client concernant le paiement d’une commande antérieure, adresse de livraison incohérente). Le client en sera informé par tout moyen. En cas d’indisponibilité des produits, le client sera remboursé dans les 30 jours suivants le paiement de la commande sauf accord différent intervenu entre les parties.</p>
<h3 class="mentions-h3"> 4.3 Traitement</h3>
<p>e Bénéfique mettra tous les moyens en oeuvre pour traiter dans les meilleurs délais la commande sachant qu’un délai de 48 heures est nécessaire à la préparation de la commande avant son envoi.</p>
<h3 class="mentions-h3"> 4.4 Preuve</h3>
<p>Les systèmes d’enregistrement automatique de Le Bénéfique sont considérés comme valant preuve de la nature, du contenu et de la date de la commande du client et de la nature, du contenu et de la date de la confirmation de la réception de la commande par
Le Bénéfique et de la nature, du contenu et de la date de tout courrier électronique échangé entre Le Bénéfique et le client.
Les informations relatives à toute opération effectuée à partir de l’identifiant du client seront stockées et archivées par Le Bénéfique et serviront de preuve de cas de tout litige conformément à la loi du 13 mars 2000. Elles seront conservées par Le Bénéfique pour une durée illimitée. Dans tous les cas, la fourniture en ligne d’un numéro de carte bancaire ou des coordonnées bancaires et l’envoi de la commande vaudront preuve de la commande et entraîneront l’exigibilité du montant de la commande confirmée par Le Bénéfique.</p>
<h2 class="mentions-h2"> 5. livraison</h2>
<p><b>Le lieu, est La France métropolitaine.</b></p>
<h3 class="mentions-h3"> 5.1 Délai</h3>
<p>Le Bénéfique s’engage à livrer la commande au lieu mentionné par le client au plus tôt dans les 72 heures et au plus tard dans les 9 jours ouvrés de la confirmation par ses soins de la commande. Tous les évènements, tels que force majeure, sinistre, grève, décision administrative ou arrêt des transports, ou toute circonstances hors du contrôle raisonnable de Le Bénéfique, qui tendraient à retarder, à empêcher et à rendre exorbitante l’exécution de l’approvisionnement constituent une cause de suspension ou d’extinction des obligations de Le Bénéfique, sans indemnité au profit du client. Le Bénéfique informera le client par courrier électronique de l’impossibilité de la livraison prévue. Dans les situations ci-dessus visées, le client est invité à prendre contact avec Le Bénéfique par tout moyen pour convenir d’un commun accord des suites à donner à la commande.</p>
<h3 class="mentions-h3"> 5.2 Frais de livraison</h3>
<p>Les frais de livraison s'entendent par livraison à un même client, à la même adresse et au même jour et heure.
Pour une commande quel que soit le montant, les frais de port sont forfaitairement de cinq euros (5,00EUR). 
Ce montant et ces poids pourront être révisés par Le Bénéfique à tout moment sans préavis.</p>
<h3 class="mentions-h3"> 5.3 Prise en charge</h3>
<p>Le client s’engage à prendre en charge les marchandises à leur arrivée, à l’adresse de livraison, par ses soins ou par toute personne de son choix susceptible de rapporter la preuve de l’identité du client et de communiquer au livreur le numéro de la commande attribuée par
Le Bénéfique.
Le client ou toute personne qu’il aura habilité devra signer le bon d’émargement sur lequel sera porté toute remarque nécessaire.
La signature du bon d’émargement et l’indication du nombre de colis reçus emportent reconnaissance de la livraison. Si le client constate, après ouverture des colis, que des produits sont abimés ou manquants, il doit contacter le service client et porter réclamation au plus tard dans les TROIS (3) jours suivant la livraison, par courrier électronique ou par téléphone au 09 81 10 04 69. Lorsque la remise des marchandises au client n’est pas possible du fait de ce dernier (par exemple : en cas d’absence) il devra contacter, grâce à l’avis de passage qui sera laissé sur le lieu de livraison, le transporteur pour convenir avec lui des modalités de récupération des marchandises. Les frais éventuellement engendrés pour un nouveau passage sur le lieu de livraison sont à la charge du client.</p>
<h2 class="mentions-h2"> 6. Délai de rétractation</h2>
<p>Conformément aux dispositions de l’article L.121-20 et suivants du Code de la Consommation, le client dispose d’un délai de rétractation de sept jours francs à compter de la prise en charge de la marchandise pour retourner à ses frais tout produit (dans son emballage d’origine complet avec accessoires et notice, en bon état et accompagné d’une copie de la facture) à Idylle Sarl 37 rue des Petites Ecuries 75010 Paris, pour échange ou remboursement, au choix du client, sans pénalités. En cas de remboursement, celui-ci sera réalisé dans un délai maximum de 30 jours et effectué par virement bancaire ou chèque. Le Bénéfique se réserve le droit de réclamer des dommages et intérêts si le produit n’a pas été restitué en bon état dans son emballage d’origine.</p>
<h2 class="mentions-h2"> 7. Prix et paiement de la commande</h2>
<p>Les prix des produits sont indiqués sur le site www.lebenefique.fr le sont en euros, TOUTES TAXES COMPRISES et ne comprennent pas les frais de livraison. Le prix total TTC indiqué dans la confirmation de la réception de la commande est le prix total de la commande saisie exprimé toutes taxes comprises incluant la TVA et le coût du transport. Pour tout paiement, le prestataire partenaire - PayPal - assure un système de paiement sécurisé et garantit la préservation du caractère confidentiel des numéros communiqués par des procédures de protection et de cryptologie. A défaut de paiement, la commande est annulée.
Le Bénéfique se réserve la possibilité de ne pas donner suite à la commande d’un client en cas de problèmes de paiement sur des commandes antérieures. Le Bénéfique conserve la propriété des produits commandés jusqu’au paiement intégral du prix par le client.</p>
<h2 class="mentions-h2"> 8. Garanties</h2>
<p>Le client bénéficie de la garantie légale des vices cachés sur les produits vendus dans les conditions de l’article 1641 du Code Civil et suivants.</p>
<h2 class="mentions-h2"> 9. Suspension de l’identifiant client</h2>
<p>A défaut de paiement des sommes dues par le client, Le Bénéfique peut suspendre de plein droit, immédiatement et jusqu’à régularisation des dites sommes, la validité de l’identifiant.</p>
<h2 class="mentions-h2"> 10. Service relation-clients</h2>
<p>Pour toutes difficultés, le client peut adresser un mail à : contact@lebenefique.com Ou un courrier à : Idylle Le Bénéfique 37 rue des Petites Ecuries 75010 Paris</p>
<h2 class="mentions-h2"> 11. Informations nominative</h2>
<p>En commandant via Le Bénéfique, le client consent à l’utilisation des données nominatives le concernant (qu’il a communiquées lors de son inscription au site, ou en passant commande). Ces données sont nécessaires pour traiter les commandes et ne seront pas cédés à des tiers autre que ceux impliqués dans la livraison des commandes. Ce fichier est déclaré auprès de la Commission Nationale Informatique et Libertés sous le n° 14 29 701.
Conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978, le client bénéficie d’un droit d’accès, de modification ou d’opposition sur les données nominatives le concernant. Pour l'exercer, le client devra envoyer un mail contact@lebenefique.com.
Le Client peut aussi exercer ces droits d’accès, de modification ou d’opposition directement sur son compte personnel accessible à tout moment en se connectant sur le site www.lebenefique.com grâce à son identifiant et son mot de passe.</p>
<h2 class="mentions-h2"> 12. Propriété intellectuelle</h2>
<p>Tous les éléments figurant sur le site Le Bénéfique sont protégés par l’ensemble des droits de la propriété intellectuelle s’y rapportant. Le client s’interdit de copier ou télécharger tout ou partie de son contenu sauf autorisation préalable et expresse Le Bénéfique.</p>
<h2 class="mentions-h2"> 13. Liens externes</h2>
<p> Le site Le Bénéfique peut contenir des liens hypertextes menant vers d’autres sites. Le site Le Bénéfique ne prend aucun engagement concernant tout site auquel vous pourrez avoir accès via le site de Le Bénéfique et n’est en aucune façon responsable du contenu, fonctionnement, et services proposés par ces sites.</p>
<h2 class="mentions-h2"> 14. Responsabilités</h2>
<p>Sauf faute de sa part, Le Bénéfique ne peut être tenue pour responsable des dommages de toute nature tant matériels qu’immatériels ou corporels qui pourraient résulter d’une mauvaise utilisation de l’identifiant ou du mode opératoire de passation des commandes.
La responsabilité de Le Bénéfique ne saurait en particulier être engagée pour tout risque inhérent à l’utilisation d’internet, tels que notamment une suspension du service, une intrusion ou la présence de virus informatique.</p>
<h2 class="mentions-h2"> 15. Modifications</h2>
<p>Le Bénéfique se réserve la possibilité de modifier son service et de porter s’il y a lieu des modifications dans les conditions générales en ligne. Le Bénéfique invite le client à relire attentivement les conditions générales de vente en vigueur à chaque passation
de commande.</p>
<h2 class="mentions-h2"> 16. Litiges</h2>
<p>Les présentes conditions générales de vente sont soumises au droit français. En cas de litige, le client s’adressera par priorité à
Le Bénéfique pour trouver une solution amiable. A défaut, le dossier sera porté devant les juridictions compétentes.
Pour toutes questions le site http://ec.europa.eu/consumers/odr/ vous renseignera.</p>
        </div>
      </div>
    </div>
  </div>
</body>
