<a href="/showcase/Home"> <p><%=image_tag("logo.png", :class => 'logo_img_work col-lg-3 col-lg-offset-6')%></p></a>
<p class="title_work col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5"> Work with us</p>

<div class="container div-work">
  <div class="pick row col-lg-6 col-lg-offset-3">
    <span>Dealer</span>
    <p> would you like to Enter le Benefique world? There is interesting and Prrofitable things to do. </p>
    <hr style="height:1px; width: 100%;border:none;color:#333;background-color:#333;">
  </div>
  <div class="pick row col-lg-6 col-lg-offset-3">
    <span>Distributer</span>
    <p> would you like to Enter le Benefique world? There is interesting and Prrofitable things to do. </p>
    <hr style="height:1px; width: 100%;border:none;color:#333;background-color:#333;">
  </div>
  <div class="pick row col-lg-6 col-lg-offset-3">
    <span>Agent</span>
    <p> would you like to Enter le Benefique world? There is interesting and Prrofitable things to do. </p>
    <hr style="height:1px; width: 100%;border:none;color:#333;background-color:#333;">
  </div>
  <div class="pick row col-lg-6 col-lg-offset-3">
    <span>Picker</span>
    <p> would you like to Enter le Benefique world? There is interesting and Prrofitable things to do. </p>
  </div>
</div>
