<div class="container">
<div class="col-lg-6 my-board">
<h2> Suivi de commande / Historique</h2>
<table class="tables table-responsive table-striped">
<tr>
  <th>date de la commande</th>
  <th> numéro </th>
  <th>statut</th>
</tr>
<tr>
  <td>2 janvier 2016</td>
  <td>T 652332</td>
</tr>
<tr>
  <td>1 janvier 2016</td>
  <td>T 543233</td>
  <td>envoyée</td>
</tr>
</table>
</div>
<div class="col-lg-6 my-board">
<h2> Mon profil </h2>
<p>adresse e-mail : email@email.fr</p>
<p>mot-de-passe : *********</p>
</div>
</div>
