<div class="container">
<div class="col-lg-12 my-board">
<h2> commande n° 121212 </h2>
<table class="tables table-responsive table-striped hidden-xs">
<tr>
  <th>date de la commande</th>
  <th>statut</th>
  <td colspan="1"> </td>
  <td><a>télécharger</a></td>
</tr>
<tr>
  <td>2 janvier 2016</td>
  <td>commande en cours</td>
</tr>
<tr>
  <th>Adresse de livraison</th>
  <th>Méthode de livraison</th>
  <th>Adresse de facturation</th>
  <th>Mode de paiement</th>
</tr>
<tr>
  <td>Isabelle Perez 17 rue porte aux saint Mantes la jolie, 78200France</td>
  <td>Standart 3 à 5 jours</td>
  <td>Veuillez vous référer à votre compte PayPal pour l'adresse de facturation.</td>
  <td>paypal</td>
</tr>
</table>
<table class="tables table-responsive table-striped visible-xs">
<tr>
  <th>date de la commande</th>
  <th>statut</th>
  <td colspan="1"> </td>
  <td><a>télécharger<a></td>
</tr>
<tr>
  <td>2 janvier 2016</td>
  <td>commande en cours</td>
</tr>
<tr>
  <th>Adresse de livraison</th>
  <th>Méthode de livraison</th>
</tr>
<tr>
  <td>Isabelle Perez 17 rue porte aux saint Mantes la jolie, 78200France</td>
  <td>Standart 3 à 5 jours</td>
</tr>
<tr>
  <th>Adresse de facturation</th>
  <th>Mode de paiement</th>
</tr>
<tr>
  <td>Veuillez vous référer à votre compte PayPal pour l'adresse de facturation.</td>
  <td>paypal</td>
</tr>
</table>
<h2> Résumé </h2>
<table class="tables">
<tr>
  <td>Référence</td>
  <td colspan="1"> </td>
  <td>P.U</td>
  <td>Quantité</td>
  <td>Total</td>
</tr>

<!-- Loop for each product type -->
<tr>
  <td><img class="product-img" src="/elem/photo1.jpg"/></td>
  <td>"Product-name"</td>
  <td>"product-price"</td>
  <td>"product-quantity"</td>
  <td>"product-total-price"</td>
</tr>
<!-- Loop end -->
<tr>
  <td>Montant total (hors TVA)</td>
  <td>"Total price for items without tva"</td>
</tr>
<tr>
  <td>TVA : 5,5 %</td>
  <td> "TVA price"</td>
</tr>
<tr>
  <td><b>Montant total</b></td>
  <td><b>"Total-with-tva"</b></td>
</tr>
</table>
</div>
</div>
