<div class="container-fluid">
  <div class="row">
      <ul class="nav-profil">
        <li><a id="show_my-board" href="#">Tableau de bord </a>/</li>
        <li><a id="show_my-commands" href="#">suivi de commande </a>/</li>
        <li><a id="show_my-profile" href="#">Mon profil </a></li>
      </ul>
      <div class="my-board">
        <%= render 'board' %>
      </div>
      <div class="my-commands">
        <%= render 'command' %>
      </div>
      <div class="my-profile">
        <%= render 'profil' %>
      </div>
    </div>
  </div>
  <script>
  jQuery(function(){
          jQuery('#show_my-board').click(function(){
                jQuery('.my-board').show();
                jQuery('.my-profile').hide();
                  jQuery('.my-commands').hide();
         });
         jQuery('#show_my-commands').click(function(){
               jQuery('.my-commands').show();
               jQuery('.my-profile').hide();
                 jQuery('.my-commands').hide();
        });
         jQuery('#show_my-profile').click(function(){
               jQuery('.my-profile').show();
               jQuery('.my-board').hide();
                 jQuery('.my-commands').hide();
        });
  });
</script>
