<html>
<body>
  <div class="section-all data-smooth-scroll">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 contactus">
          <h3>Nous contacter</h3>
          <p>Des questions? Un commentaire? Laissez-nous un message et nous vous répondrons le plus vite du lorem ipsum.</p>
          <p> Pour nous envoyer un message remplisez les champs ci dessous remplis d'un </p>
            <form>
              <div class="form-group required">
                <label for="name" class="control-label">Nom et prénom</label>
                  <input type="name" class="form-control" id="name">
              </div>
              <div class="form-group required">
                <label for="email" class="control-label">E-mail</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group required">
                <label for="telephone" class="control-label">Téléphone</label>
                <input type="telephone" class="form-control" id="telephone">
              </div>
              <hr>
              <div class="form-group required">
                <label for="object" class="control-label">Objet</label>
                <input type="object" class="form-control" id="object">
              </div>
              <div class="form-group required">
                <label for="message" class="control-label">Message</label>
                  <input type="message" class="form-control message" id="message">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
      </div>
    </div>
</div>
</body>
</html>
