/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.carts h1{
  font-family: 'Didot LT Std Italic';
  font-size: 25px;
}

.total-and-checkout{
background-color: yellow;
}

.resume-cart{
  background-color: red;
}

.test{
  margin-bottom: 80px;
}
.cart-section{
  font-family: 'Roboto';
}

.head-div h1{
  font-size: 25px;
}

.head-div{
  margin-bottom: 100px;
}

.logo-img-carts{
  width: 250px;
}


.each-elems{
  margin-bottom: 50px;
}


table.test td {
    margin: 12px 12px 12px 12px;
    padding: 20px 20px 20px 12px;
}
table.test {
  border-collapse: separate;
  border-spacing: 20px;
  *border-collapse: expression('separate', cellSpacing = '20px');
}

.total-and-checkout{
  font-size: 18px;
}
