.sect{
	height: 100px;
	padding-bottom: 10px;
}


div{
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}


  .offset-sect-10 {
    margin-top: 10000px;
  }
  .offset-sect-9 {
    margin-top: 900px;
  }
  .offset-sect-8 {
    margin-top: 800px;
  }
  .offset-sect-7 {
    margin-top: 700px;
  }
  .offset-sect-6 {
    margin-top: 600px;
  }
  .offset-sect-5 {
    margin-top: 500px;
  }
  .offset-sect-4 {
    margin-top: 400px;
  }
  .offset-sect-3 {
    margin-top: 300px;
  }
  .offset-sect-2 {
    margin-top: 200px;
  }
  .offset-sect-1 {
    margin-top: 100px;
  }
  .offset-sect-0 {
    margin-top: 0;
  }



   .offset-lin-19 {
    margin-top: 95px;
  }
  .offset-lin-18 {
    margin-top: 90px;
  }
  .offset-lin-17 {
    margin-top: 85px;
  }
  .offset-lin-16 {
    margin-top: 80px;
  }
  .offset-lin-15 {
    margin-top: 75px;
  }
  .offset-lin-14 {
    margin-top: 70px;
  }
  .offset-lin-13 {
    margin-top: 65px;
  }
  .offset-lin-12 {
    margin-top: 60px;
  }
  .offset-lin-11 {
    margin-top: 55px;
  }
  .offset-lin-10 {
    margin-top: 50px;
  }
  .offset-lin-9 {
    margin-top: 45px;
  }
  .offset-lin-8 {
    margin-top: 40px;
  }
  .offset-lin-7 {
    margin-top: 35px;
  }
  .offset-lin-6 {
    margin-top: 30px;
  }
  .offset-lin-5 {
    margin-top: 25px;
  }
  .offset-lin-4 {
    margin-top: 20px;
  }
  .offset-lin-3 {
    margin-top: 15px;
  }
  .offset-lin-2 {
    margin-top: 10px;
  }
  .offset-lin-1 {
    margin-top: 5px;
  }
  .offset-lin-0 {
    margin-top: 0;
  }
