/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.log-and-sign{
    text-align: center;
    padding-bottom: 300px;

  .create-account{
    border-left: 1px solid #333;
    padding-left: 25px;
  }
}
