/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

                                                        /******************** GENERAL SIZES ********************/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html, body {
height: 100%;
width: 100%;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.header-top{
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat:no-repeat;background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.head-idea {
  background-image:url("/elem/photo-header-idea.jpg");
}
.head-legend {
  background-image:url("/elem/photo-header-legend.jpg");
}

.header-content{

  margin-top: 45vh;
}


.section-all{
  position: relative;
  background-color: white;
  background-image: url("/elem/illu-idea.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  height: 100%;
  padding-bottom: 400px;
  z-index: 10;

}

.section-all h1{
   font-family: 'Didot LT Std Bold Italic'
}

.section-all p {
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 300;
}

.bloc-center{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}


.sect-overlap{
  position: relative;
  margin-top:3%;
  margin-bottom: 4%;
}

.sect-overlap img{
top: 0;
width: 100%;
}


.sect-overlap .text-center-align {
text-align: center;
}

.txt-center{
  text-align: center;
}

.wrapper
{

}

.scrollme
{

}

.animateme
{

}

.presse-txt h1{
  font-family: 'Didot LT Std Bold Italic';
  font-size: 50px;
   border-bottom: 1px solid #b6a083;
}

.presse-txt p{
  font-family: 'Roboto';
  font-size: 10px;
}


                                                                    /*  NORMAL DEVICE ONLY*/


@media screen and (min-width: 769px) {
.text-vertical-center p {
position: fixed; left: 0; right:0;
margin: auto;
z-index: 1;
font-size: 55px;
font-family: 'Didot LT Std Bold Italic';
color: white;
}

.paraxify{
background-attachment: fixed;
background-position: center center;
background-size: cover;
}



*,*:before,*:after {box-sizing:border-box}

.main {
  float:left;
  width: 100%;
  padding: 10vh 0 40vh;
}

.card {
  float:left;
  width: 27%;
  margin: 3%;
  height: 15vh;
  background:#000;
  border-radius: 5px;
  box-shadow: 0px .125em .25em rgba(0,0,0,.25);
}
.card:hover {
  transform: translateY(-.25em);
  box-shadow: 0 .25em 1em rgba(0,0,0,.5);
}
.fade-content > *{transition: ease opacity .25s, ease transform .25s;}

/* Offsets timing for groups of three. This must be adjusted if there are more or less than three element per row.*/
.fade-content > *:nth-child(3n+2) {transition-delay: .1s;}
.fade-content > *:nth-child(3n+3) {transition-delay: .2s;}



.sect-overlap .bloctext{
  position: absolute;
  top: 0;
  z-index:100;
}

.sect-overlap p {
position: absolute;
 z-index:10;
 font-family: 'Roboto', sans-serif;
 font-size: 20px;
 font-weight: 300;
text-align: left;
z-index: 200;
}

.img-fluid{
position:relative;
top:-2vw;
overflow:hidden;
width:100%;
z-index:2
}

.francois{
  text-align: left;position:relative;left:40px;
}

.soliman{
  text-align: left;
}

}





                                                                          /* MOBILE SIZE ONLY*/
@media screen and (max-width: 768px) {

  html, body{
    height: 100%;
    width: 100%;
  }


  .text-vertical-center p {
    display: block;
  font-size: 4vh;
  font-family: 'Didot LT Std Bold Italic';
  color: white;
  }

  .mouse-scroll{
    display: none;
  }

  .sect-overlap .bloctext{
    display: none;
    top: 0;
    z-index:100;
  }

  .sect-overlap p {
   z-index:10;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 300;
  text-align: left;
  z-index: 200;
  }

  .portraits-mobile img{
    display: block;margin: 0 auto
  }

  .francois{
    text-align: left;
  }

  .soliman{
    text-align: left;
  }

}
                                                        /******************** HOME ********************/
.home-links {
  margin-top: 40vh;
  position: relative;
}

.img-home{
  display: inline-block;
vertical-align: middle;
float: none;
}
