

.cart-count-link{
  position: fixed;
  right: 2%;
  top: 3%;
}

.cart-count-store{
  color: #b6a083;
  position: absolute;
	right: 7px;
	top: 19px;
}

.panier-header-store{
  position: absolute;
  width: 37px;
  right: 10%;
  top: 10%;
}

.logo_img{
  position: absolute;
  top: 20px;
  width: 250px;
}


 .title{
   display: block;
  top: 110px;
  font-size: 25px;
  font-family: 'Didot LT Std Italic';
  margin-bottom: 20px;
}

.img_tasse{
}

.block-sultan h1{
  font-family: 'Futura Condensed Medium';
  font-size: 4vw;
  text-align: center;
  z-index: 3;
  display: block;
  left: -50px;
top : 210px;
}

@media screen and (min-width: 985px) {
  .block-sultan h1{
    font-size: 45px;
  }
}

.img_back_soli{
  z-index: 1;
  top: 170px;
  left : 0;
}

.img_back_françois{
  z-index: 1;
  left : 0;
  position: relative;
  left: -40px;
}

.illu_front{
  z-index: 2;
  position: absolute;
  margin-top: 300px;
}

p.txt_soli{
  position: absolute;
  font-family: 'Didot LT Std Bold Italic';
  text-align: left;
  font-size: 2vw;
  color: white;
  z-index: 2;
  color: black;
}

@media screen and (min-width: 1150px) {
  p.txt_soli{
    font-size: 25px;
  }
}

.product-container{
  position: relative;
  top: -600px;
}

.product-tile{
  margin-right: -210px;
}


.entry{
  margin: 0;
  padding: 10px;
  margin-right: 86px;
  text-align: left;
}

.product_title{
  width: 250px;
  font-family: 'Futura Condensed Medium';
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_description{
padding-top: 10px;
width: 15vw;
font-family: 'Didot LT Std Roman';
max-width: 90%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.product_img{
  margin-right: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 100%;
}

.the_img{
  margin: 0;
  padding: 0;
    width: 280px;
    max-width: 280px;
}

.the_img:hover + .discover{
  position: absolute;
  top: 145px;
  left: 70px;
  display: block;
  font-family: 'Didot LT Std Roman';
  font-size: 18px;
}

.the_img + .discover:hover{
  position: absolute;
  top: 145px;
  left: 70px;
  display: block;
  font-family: 'Didot LT Pro Bold';
  text-decoration: none;
  color: black;
  font-size: 18px;

}

.the_img:hover{
  opacity: 0.3;
}

.discover:hover{
  opacity: 1.0;
}

.product_img:hover{
  .the_img{
    opacity: 0.6;
  }
}



.discover {
  display: none;
  position: absolute;
  top: 5vw;
  left: 2.5vw;
  color: black;
  font-size: 1.2vw;
  border-style: solid;
  border-width: 2px;
}

.line_title{
  position: relative;
}

#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #fff;
	float: left;
	font-size: 1.2em;
	position: fixed;
  width: 90vw;
  height: 1000px;
	top: 50%; left: 50vw;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
img.btn_close {
	float: right;
	margin: -40px -30px 0 0;
}
/*--Gérer la position fixed pour IE6--*/

a:hover{
  background-color: none;
}

.title-pop{
  position: absolute;
  display: block;
 top: 120px;
 font-size: 25px;
 font-family: 'Didot LT Std Italic';
 left: 0;
}

.popup-infusion{
  top: -15px;
  left: -40px;
  font-size: 0.7vw;
}

.popup-img{
  max-width: 500px;

}

.popup-logo{

  max-width: 300px;
}

.container-temp{
  display: inline-block;
position: absolute;
bottom: 10px;
left: 10px;
margin-right: -50px;
}


.popup-product-zone{
  text-align:left;
  position: relative;
  top: -380px;
  right: 5vw;
  margin-top: 50px;
}

.popup-title{
  margin-bottom: 60px;
  font-size: 42px;
  font-family: 'Futura Condensed Medium';
}

.popup-nomlatin{
  color: #b6a083;
  font-size: 18px;
  font-family: 'Didot LT Std Bold Italic';
}

.popup-provenance{
font-size: 17px;
font-family: 'Didot LT Std Bold Italic';
}

.popup-description{
  font-size: 16px;
  font-family: 'Futura Condensed Light';
}

.popup-proprietes-title{
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Futura Condensed Medium'
}

.popup-proprietes{
width: 380px;
font-size: 16px;
font-family: 'Futura Condensed Light';
}

.popup-price{
  color: #b6a083;
  display: block;
  padding-top: 20px;
  margin-bottom: -7px;
}

.popup-engagements{
  position: absolute;
  bottom: 10px;
  left: 23%;
  width: 710px;
  font-family: 'Futura Condensed Light';
  font-size: 15px;
  line-height: 0.6em;

}


.popup-add{
  width: 120px;
  position: relative;
  top: -20px;
  right: -60px;
}

.product_section_2{
  position: relative;
  top: -200px;
}
.prod-div{
  margin-bottom: -400px;
}
