@media screen and (min-width: 769px) {
  .modal-product{
    width: 80%;
  }
}
.bloc-center h1{
  font-family: 'DidotLTStd-BoldItalic';
font-weight: 500;
font-size: 40px;
}

.cart-count-link{
  position: fixed;
  right: 2%;
  top: 3%;
  z-index: 99;
}

.cart-count-store{
  color: black;
  position: absolute;
	right: 7px;
	top: 19px;
}

.panier-header-store{
  position: absolute;
  width: 37px;
  right: 10%;
  top: 10%;
}

.product_img{
  padding: 0;
  margin-left: 4.16%;
}



 .shop-header-container h1{
  font-size: 5vw;
  z-index: 2;
  color: black;
      font-family: 'DidotLTStd-BoldItalic';
    font-weight: 400;
}

@media screen and (max-width: 769px) {
 .shop-header-container{
   margin-top: 200px;
 }
 .product_img{
   padding: 0;
   margin-left: 6.16%;
 }
}

.img_back_soli{
  z-index: 1;
  top: 170px;
  left : 0;
}

.img_back_françois{
  z-index: 1;
  left : 0;
  position: relative;
  left: -40px;
}

.img_soli{
  top: 10%;
}


.bloc-overlap{
  position: absolute;
}

.txt_soli{
  display: block;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  bottom: 20%;
  font-size: 1.5v;
  color: white;
  z-index: 2;
}

.txt-mobile-shop{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

@media screen and (min-width: 1205px) {
  .txt_soli{
    font-size: 22px;
  }
  .lg-half-margin{
      margin-left: 4.16%;
  }
  .shop-header-container h1{
   font-size: 50px;
  }
}

@media (min-width:992px) and (max-width: 1199px) {

.lg-half-margin{
margin-left: 8.3333%;
}
}

.product_title{

  font-family: 'DidotLTStd-BoldItalic';
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_description{
padding-top: 10px;
width: 15vw;
font-family: 'DidotLTStd-BoldItalic';
max-width: 90%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.my-container{
  position: relative;
  text-align:center;
}

.the_img{
  position: relative;
  width: 100%;
}

.the_img:hover + .discover{
  width: 100%;
  display: block;
  font-family: 'DidotLTStd-BoldItalic';
  font-size: 18px;
  position: absolute;
  margin: auto;
  z-index: 2;
  height: 100px;
  top: 0;
  left:0;
  right:0;
  bottom:0;
}

.the_img + .discover:hover{
  display: block;
font-family: 'DidotLTStd-BoldItalic';
  font-size: 18px;
  position: absolute;
  margin: auto;
  z-index: 2;
  height: 100px;
  top: 0;
  left:0;
  right:0;
  bottom:0;

}

.the_img:hover{
  opacity: 0.3;
}

.discover:hover{
  opacity: 1.0;
}

.product_img:hover{
  .the_img{
    opacity: 0.6;
  }
  .discover{
    -moz-animation: discover 0.3s ease forwards;
    -webkit-animation: discover 0.3s ease forwards;
    -o-animation: discover 0.3s ease forwards;
    -ms-animation: discover 0.3s ease forwards;
    animation: discover 0.3s ease forwards;
    overflow: hidden;
  }
  @-webkit-keyframes discover {
    from {
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes discover {
    from {
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
}

.product-price{
  float: left;
}


.discover {
  display: none;
}

.line_title{
  position: relative;
}

#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 299;
}
img.btn_close {
	float: right;
	margin: -40px -30px 0 0;
}
/*--Gérer la position fixed pour IE6--*/

a:hover{
  background-color: none;
}


.container-temp{
  display: inline-block;
position: absolute;
bottom: 10px;
left: 10px;
margin-right: -50px;
}

.modal-header{
  border-bottom: 0;
}

.modal-footer{
  border-top: 0;
}

.modal-dialog{
   p, h1, h2, h3, h4{
  text-align:left;
  border: 0;}
}

.popup-img{
  max-width: 400px;
}

@media screen and (max-width: 991px) {
  .popup-body-mobile{
    h1,h2,h3,p,span,label,select{
    text-align: center;
    float: none;}
  }

  .mobile-popup-title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    font-weight: 480;
    letter-spacing: 4px;
  }
}


.popup-title{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 480;
  letter-spacing: 4px;
}

.popup-nomlatin{
  color: #b6a083;
  font-size: 18px;
  font-family: 'DidotLTStd-BoldItalic';
}

.popup-legende{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 4px;
}

.popup-add{
  width: 120px;
  top: -20px;
  right: -60px;
}

.product_section_1{
  position: relative;

}

.product_section_2{
  position: relative;

}
